body {
    width: 99%;
    /* This is the width of the whole layout "content" */
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

.container {

    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

ul {
    list-style-type: none;
    text-align: center;
}

.layout {
    display: flex;
    justify-content: center;
}

.link {
    margin: 10px;
    padding: 11px;
    background-color: #eb81e5;
    border-radius: 5px;
}

.link a {
    text-decoration: none;
    color: #eef1f3;
}

.link:hover {
    background-color: #6d8ed4;
}

.center-table {
    margin: 0 auto;
    /* This centers the table horizontally */
}

.center-image {
    margin: 0 auto;
    /* This centers the table horizontally */
}